<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Sitecore.Cintel" version="8.1.1" targetFramework="net45" />
  <package id="SC.Sitecore.ExperienceAnalytics" version="8.1.1" targetFramework="net45" />
  <package id="SC.Sitecore.ExperienceAnalytics.Client" version="8.1.1" targetFramework="net45" />
  <package id="SC.Sitecore.Kernel" version="8.1.1" targetFramework="net45" />
  <package id="SC.Sitecore.Xdb.Configuration" version="8.1.1" targetFramework="net45" />
  <package id="SC.System.Net.Http" version="8.1.1" targetFramework="net452" />
  <package id="SC.System.Web.Http" version="8.1.1" targetFramework="net45" />
</packages>
